<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
      </head>
<header>
    <app-header-bar></app-header-bar>
</header>

<body>
    <p>All User data portalworks</p>

    <div class="container">
        <table class="table table-striped" border="2">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">userName</th>
                </tr>
            </thead>
                <tbody>
                    <tr *ngFor="let user of user">
                        <td>{{user["userName"]}}</td>
                    </tr>
                </tbody>
        </table>
    </div>
</body>
</html>


